{% load i18n %}


<div class="row top-buffer">
    <div class="col-md-3 columns">

        {% for enclosure in post.enclosure_set.all %}
            {% if "image" in enclosure.mime_type %}
                <img src="{{ enclosure.link }}" alt="" /></a>
            {% endif %}
        {% endfor %}
    </div>

    <div class="col-md-9 columns">

    <h2>
      <a href="{{ post.url }}" title="{% trans 'Read ' %} {{ post.title|safe }}"
        onclick="javascript: _gaq.push(['_trackEvent', 'Title Link', 'Click', 'long-content']);">
            {{ post.title|striptags|safe }}
      </a>
    </h2>

    <p class="content">
        <span class="date">{{ post.date_modified|date:"M d Y" }}</span> &#9884
        {% trans "Published at" %} <a href="{{ post.feed.blog.get_absolute_url }}" title="{% trans 'See all posts for this blog' %}">{{ post.feed.blog.title }}</a>
        <br/> {% if post.tags.count %}
          {% for tag in post.tags.all|slice:":5" %}
              <span class="label"><a href="{% url 'planet_tag_detail' tag.name %}" title="Tag">{{ tag.name }}</a></span> &#9674
          {% endfor %}
        {% endif %}
        <div>

          {# {{ post.content|safe }} #}
        </div>
    </p>
    <br/>
    </div>
</div>