{% load i18n %}

<div class="row">

        {% comment %}  First Column, Picture   {% endcomment %}


        {% if post.enclosure_set.all %}

            <div class="col-md-6 columns">
                {% for enclosure in post.enclosure_set.all %}
                    {% if "image" in enclosure.mime_type %}
                        <img src="{{ enclosure.link }}" alt="" /></a>
                    {% endif %}
                {% endfor %}
            </div>

            {% comment %}  Second Column  {% endcomment %}

        <div class="col-md-6 columns">
        {% else %}
        <div class="col-md-12 columns">
        {% endif %}

            {% comment %}  Primary Tag   {% endcomment %}


            {% if post.primary_tag %}
                <h5><span class="label"><a href="{% url 'planet_tag_detail' post.primary_tag %}" title="Tag"> {{ post.primary_tag }} </a></span></h5>
            {% endif %}

            {% comment %}  Date and Blog  {% endcomment %}

            <h6>
                <div class="date">{{ post.date_modified|date:"D N g" }}</div>
                <a href="{{ post.feed.blog.get_absolute_url }}" title="{% trans 'See all posts for this blog' %}">
                    {{ post.feed.blog.short_name }}
                </a>


            </h6>

            {% comment %}  Title   {% endcomment %}

            <h4>
                  <a href="{{ post.url }}" target="_blank" title="{% trans 'Read ' %} {{ post.title|safe }}"
                    onclick="javascript: _gaq.push(['_trackEvent', 'Title Link', 'Click', 'long-content']);">
                    {{ post.title|striptags|safe }}
                </a>
            </h4>

        </div>
</div>














