{% load i18n %}

<div class="row">


        <div class="col-md-6 columns">
            {% for enclosure in post.enclosure_set.all %}
                {% if "image" in enclosure.mime_type %}
                    <img src="{{ enclosure.link }}" alt="" /></a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-6 columns">
            {% if post.primary_tag %} <h5>{{ post.primary_tag}}</h5> {% endif %}
            <h4>
                  <a href="{{ post.url }}" target="_blank" title="{% trans 'Read ' %} {{ post.title|safe }}"
                    onclick="javascript: _gaq.push(['_trackEvent', 'Title Link', 'Click', 'long-content']);">
                    {{ post.title|striptags|safe }}
                </a>
            </h4>
            <h6>
                <div class="date">{{ post.date_modified|date:"M d Y" }}</div> <a href="{{ post.feed.blog.get_absolute_url }}" title="{% trans 'See all posts for this blopg' %}">
                    {{ post.feed.blog.short_name }}
                </a>
            </h6>
        </div>
</div>














