{% load i18n %}

<div class="row">
        <div class="col-md-8 columns">
            {% for enclosure in post.enclosure_set.all %}
                {% if "image" in enclosure.mime_type %}
                    <img src="{{ enclosure.link }}" alt="" /></a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-4 columns">
            {% if post.primary_tag %} <h4>{{ post.primary_tag}}</h4> {% endif %}
            <h3>
                  <a href="{{ post.url }}" title="{% trans 'Read ' %} {{ post.title|safe }}"
                    onclick="javascript: _gaq.push(['_trackEvent', 'Title Link', 'Click', 'long-content']);">
                    {{ post.title|striptags|safe }}
                </a>
            </h3>
            <h5><div class="date">{{ post.date_modified|date:"M d Y" }}</div></h5>

</div>














