{% extends "planet/base.html" %}
{% load i18n pagination_tags planet_tags %}
{# {% url 'planet_post_list' %} #}

{% block head_title %}
  {# {% trans 'django-planet: django blog news aggregator' %}{{ block.super }} #}
  New Orleans Tourism Updates
{% endblock %}

{% block extra_head %}
    <meta name="robots" content="index, follow" />
    <meta name="description" content="{% blocktrans with site_name=site.name %}{{ site_name }} is a planet website aggregating the best Django blogs and content available around the web{% endblocktrans %}" />
    <meta name="title" content="{% blocktrans with site_name=site.name %}{{ site_name }}: Django-related news &amp; blog aggregator{% endblocktrans %}" />
    <link rel="canonical" href="http://{{ site.domain }}{% url 'planet.views.posts_list' %}"/>
{% endblock %}

{% block content %}

{% comment %}

row one topblock (10)
two smallblocks (5) (5)
simple list of 5 latest stories [latest others:]

find two most important tags

* [tag] date Aug. 3, aslfkjasdlf source

tags (5) (5) w/ color
very simple list of articles

* adfasdf source



{% endcomment %}




<h1>The Latest on New Orleans Tourism</h1>


<div class="row">

    <div class="col-md-12 columns">
        {% post_most first.0 %}
    </div>
</div>

<h2>Other Important Shit</h2>

<div class="row top-buffer">
    <div class = "col-md-4 columns"> {% post_more important.0 %} </div>
    <div class = "col-md-4 columns"> {% post_more important.1 %} </div>
    <div class = "col-md-4 columns"> {% post_more important.2 %} </div>
</div>

<div class="row top-buffer">
    <ul>
        {% for mp in morenews %}
            {% post_short mp %}
        {% endfor %}
    </ul>

</div>


{% endblock %}
