{% extends "planet/base.html" %}
{% load i18n pagination_tags planet_tags %}
{# {% url 'planet_post_list' %} #}

{% block head_title %}
  {# {% trans 'django-planet: django blog news aggregator' %}{{ block.super }} #}
  New Orleans Tourism Updates
{% endblock %}

{% block extra_head %}
    <meta name="robots" content="index, follow" />
    <meta name="description" content="{% blocktrans with site_name=site.name %}{{ site_name }} is a planet website aggregating the best Django blogs and content available around the web{% endblocktrans %}" />
    <meta name="title" content="{% blocktrans with site_name=site.name %}{{ site_name }}: Django-related news &amp; blog aggregator{% endblocktrans %}" />
    <link rel="canonical" href="http://{{ site.domain }}{% url 'planet.views.posts_list' %}"/>
{% endblock %}

{% block breadcrumb_section %}<li class="active">{% trans 'Posts' %}</li>{% endblock %}

{% block posts_class %}class="active"{% endblock %}

{% block content %}

{% comment %}

row one topblock (10)
two smallblocks (5) (5)
simple list of 5 latest stories [latest others:]

find two most important tags

* [tag] date Aug. 3, aslfkjasdlf source

tags (5) (5) w/ color
very simple list of articles

* adfasdf source



{% endcomment %}





    <h1>{% trans "Recent Posts on New Orleans Tourism and related topics" %}</h1>

  <div class="row">
        <div class="col-md-10 columns">
            {% post_details important_posts.0 %}
        </div>
</div>

<div class="row">
    <div class = "col-md-5 columns">


{% for enclosure in important_posts.1.enclosure_set.all %}
    {% if "image" in enclosure.mime_type %}
        <img src="{{ enclosure.link }}" alt="" /></a>
    {% endif %}
{% endfor %}


<h4>
  <a href="{{ post.url }}" title="{% trans 'Read ' %} {{ post.title|safe }}"
    onclick="javascript: _gaq.push(['_trackEvent', 'Title Link', 'Click', 'long-content']);">
        {{ important_posts.1.title|striptags|safe }}
  </a>


</h2>


    </div>
    <div class = "col-md-5 columns">


{% for enclosure in important_posts.2.enclosure_set.all %}
    {% if "image" in enclosure.mime_type %}
        <img src="{{ enclosure.link }}" alt="" /></a>
    {% endif %}
{% endfor %}


<h4>
  <a href="{{ post.url }}" title="{% trans 'Read ' %} {{ post.title|safe }}"
    onclick="javascript: _gaq.push(['_trackEvent', 'Title Link', 'Click', 'long-content']);">
        {{ important_posts.2.title|striptags|safe }}
  </a>


    </div>
</div>

{% endblock %}
