{% extends "planet/base.html" %}
{% load i18n pagination_tags planet_tags %}
{# {% url 'planet_post_list' %} #}

{% block head_title %}
  New Orleans Tourism Updates
{% endblock %}

{% block extra_head %}
    <meta name="robots" content="index, follow" />
    <meta name="description" content="{% blocktrans with site_name=site.name %}{{ site_name }} is a planet website aggregating the best Django blogs and content available around the web{% endblocktrans %}" />
    <meta name="title" content="{% blocktrans with site_name=site.name %}{{ site_name }}: Django-related news &amp; blog aggregator{% endblocktrans %}" />
    <link rel="canonical" href="http://{{ site.domain }}{% url 'planet.views.posts_list' %}"/>
{% endblock %}

{% block content %}

{% comment %}

row one topblock (10)
two smallblocks (5) (5)
simple list of 5 latest stories [latest others:]

find two most important tags

* [tag] date Aug. 3, aslfkjasdlf source

tags (5) (5) w/ color
very simple list of articles

* adfasdf source



{% endcomment %}




<h1>The Latest</h1>


<div class="row">
    <div class="col-md-12 columns">
        {% post_most first %}
    </div>
</div>

<h2>Other Important Shit</h2>

<div class="row top-buffer">
    <div class = "col-md-6 columns"> {% post_more important.0 %} </div>
    <div class = "col-md-6 columns"> {% post_more important.1 %} </div>
  {% comment %}  <div class = "col-md-4 columns"> {% post_more important.2 %} </div> {% endcomment %}
</div>

<h2>The Latest</h2>

<div class="top-buffer">

{% regroup morenews by date_modified|date:"D N j" as morenews_ranked %}

{% for country in morenews_ranked %}
        <h3><span class="date">{{ country.grouper }}</span></h3>
    {% for item in country.list %}
      {% post_short item %}
    {% endfor %}
    <br>
{% endfor %}

<h2>Relevant Topics</h2>

<div class="row">
    <div class="col-md-6 columns">
        <h3>Tag 1</h3>
    </div>
    <div class="col-md-6 columns">
        <h3>Tag 2</h3>
    </div>
</div>

{% for country in morenews_ranked %}
        <div class="col-md-6 columns"><span class="date">{{ country.grouper }}</span></h3>
    {% for item in country.list %}
      {% post_short item %}
    {% endfor %}
    </div>
    <br>
{% endfor %}




{% comment %}
    {% for mp in morenews %}
        {% post_short mp %}
    {% endfor %}
    {% endcomment %}
</div>

{% endblock %}







